<div class="container">
    <h1>mysql database connection and select query</h1>
    <h2>{{title}}</h2>

    <a href="/employeedata/create-form" class="btn btn-success">INsert employeedata</a>
    <br /><br />
    <table class="table">
        <tr>
            <th>Usr_Id</th>
            <th>Emp_Id</th>
            <th>Action</th>
        
        </tr>
        {{#each employeedata}}
        <tr>
            <td>{{this.Usr_Id}}</td>
            <td>{{this.Emp_Id}}</td>
           
            <td>
                <a href="/employeedata/edit-form/{{this.Emp_Id}}" class="btn btn-info btn-sm">Update</a>
                <a href="/employeedata/delete/{{this.Emp_Id}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
