<div class="container">
    <h1>Noe Teaching Staff Details</h1>
    <h2>{{title}}</h2>

    <a href="/non_teaching_staff/create-form" class="btn btn-success">insert in non_teaching_staff</a>
    <br /><br />
    <table class="table">
        <tr>
            <th>Emp_Id</th>
            <th>Type</th>
           {{!--  <th>Teacher_Id</th> --}}
            <th>Action</th>
        
        </tr>
        {{#each non_teaching_staff}}
        <tr>
            <td>{{this.Emp_Id}}</td>
            <td>{{this.Type}}</td>
           
            <td>
                <a href="/non_teaching_staff/edit-form/{{this.Emp_Id}}" class="btn btn-info btn-sm">Update</a>
                <a href="/non_teaching_staff/delete/{{this.Emp_Id}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
