
<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
       <form action="/studentinfo/edit/{{studentinfo.Roll_No}}" method="post">
          <div class="form-group">
              <input type="number" name="Roll_No" class="form-control" value={{studentinfo.Roll_No}} placeholder="Roll_No" />
          </div>
          <div class="form-group">
              <input type="text" name="F_Name" class="form-control" value={{studentinfo.F_Name}} placeholder="F_Name" />
          </div>
          <div class="form-group">
              <input type="text" name="M_Name" class="form-control" value={{studentinfo.M_Name}} placeholder="M_Name" />
          </div>
          <div class="form-group">
              <input type="text" name="L_Name" class="form-control" value={{studentinfo.L_Name}} placeholder="L_Name" />
          </div>
          <div class="form-group">
              <input type="text" name="Class" class="form-control" value={{studentinfo.Class}} placeholder="Class" />
          </div>
          <div class="form-group">
              <button class="btn btn-info">Save Studentinfo</button>
          </div>
      </form>
    </div>
  </div>
</div>