<div class="container">
    <h1>mysql database connection and select query</h1>
    <h2>{{title}}</h2>

    <a href="/studentinfo/create-form" class="btn btn-success">Insert studentinfo</a>
    <br /><br />
    <table class="table">
        <tr>
            <th>Roll_No</th>
            <th>F_Name</th>
            <th>M_Name</th>
            <th>L_Name</th>
            <th>Class</th>
            <th>Action</th>
        
        </tr>
        {{#each studentinfo}}
        <tr>
            <td>{{this.Roll_No}}</td>
            <td>{{this.F_Name}}</td>
            <td>{{this.M_Name}}</td>
            <td>{{this.L_Name}}</td>
            <td>{{this.Class}}</td>
            <td>
                <a href="/studentinfo/edit-form/{{this.Roll_No}}" class="btn btn-info btn-sm">Update</a>
                <a href="/studentinfo/delete/{{this.Roll_No}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
